@import "../../components/**/*.css";
@import "../stylesheets/**/*.css";

body.wait,
body.wait * {
  cursor: wait !important;
}

.Application {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  margin: 0;
}
