<% @users.each do |user| %>
  <div data-controller="user" data-user-id=<%= user.id %>>
    <span><%= user.email %></span>
    <span data-target="user.status"><%= user.status %></span>
    <button data-action="user#toggleStatus">Toggle Status</button>
  </div>
<% end %>
