.Home-menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.Home-link {
  width: 40vw;
  padding-left: 2vw;
  margin-bottom: 0.5rem;

  background-color: var(--color-grey);

  border-radius: 2rem;

  color: black;

  text-decoration: none;

  transition: all 0.1s linear;
}

.Home-link:hover {
  background-color: var(--color-leaf-green);
}

.Home-link--disabled {
  background-color: var(--color-light-grey);
  border: var(--color-grey) 2px solid;
  color: var(--color-grey);
  cursor: no-drop;

  &:hover {
    background-color: var(--color-light-grey);
  }
}

.Home-header {
  display: flex;
  align-content: center;
  align-items: center;

  justify-content: space-between;
}

.Home-wrapper {
  padding-top: 20vh;
  margin: 0 auto;
}
