.Presences {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;

  font-family: "Space Mono", monospace;
}

.Presences-list {
  display: flex;
  flex-wrap: wrap;
  width: 77%;
}

.Presences-user {
  position: relative;

  width: 120px;
  height: 102px;
  padding: 4px;
  margin: 10px;

  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  border-radius: 4px;

  cursor: pointer;
  outline: none;

  font-family: var(--font-family-sans-serif);

  font-size: 28px;
  font-weight: var(--font-weight-bold);
  line-height: 46px;
  text-decoration: none;
  word-wrap: break-word;

  transition: transform 0.3s ease-in-out;
  user-select: none;
}

.Presences-user--block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50%;
}

.Presences-userName {
  padding-bottom: 8px;
}

.Presences-user:hover {
  transform: translateY(-6px);
}

.Presences-user--available {
  background-color: var(--color-leaf-green);
  border-color: var(--color-leaf-green);
}

.Presences-user--service {
  background-color: var(--color-fire-red);
  border-color: var(--color-fire-red);
}

.Presences-userDutyType {
  position: absolute;
  top: 40%;

  left: 10%;

  z-index: 1;

  width: 80%;

  height: auto;

  background-color: var(--color-yellow);
  border-radius: 12px;
  color: var(--color-black);

  font-size: 16px;
  font-weight: var(--font-weight-regular);

  line-height: 20px;
}

.Presences-userDutyType--elac {
  background-color: var(--color-roasted-yellow);
}

.Presences-userDutyType--eip {
  background-color: var(--color-purple);
}

.Presences-userStatus {
  background-color: var(--color-black);
  border-radius: 4px;
  color: white;

  font-family: var(--font-family-mono);

  font-size: 16px;
  font-weight: var(--font-weight-regular);

  line-height: 20px;
}

.Presences-statuses {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding: 1rem;

  font-size: 28px;
  line-height: 40px;

  h3 {
    margin: 0 0 1rem;
  }

  > * {
    margin-bottom: 2rem;
  }
}

.Presences-statuses--available {
  h3 {
    border-bottom: 4px solid var(--color-leaf-green);
  }
}

.Presences-statuses--service {
  h3 {
    border-bottom: 4px solid var(--color-fire-red);
  }
}

.Presences-statuses--picket {
  h3 {
    border-bottom: 4px solid var(--color-yellow);
  }
}

.Presences-statuses--elac {
  h3 {
    border-bottom: 4px solid var(--color-roasted-yellow);
  }
}

.Presences-statuses--eip {
  h3 {
    border-bottom: 4px solid var(--color-purple);
  }
}

.Presences-back {
  align-self: flex-end;
  padding: 0.5rem 2rem;
  margin-top: auto;

  background-color: var(--color-light-grey);
  border: 2px solid black;
  border-radius: 0.25rem;
  color: var(--color-blue);
  cursor: pointer;

  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  transition: all 0.1s linear;
}

.Presences-back:active,
.Presences-back:hover {
  background-color: rgba(126, 178, 221, 0.1);
  border-color: var(--color-blue);
}
