.Button {
  padding: 0.5rem 2rem;

  background-color: var(--color-light-grey);
  border: 2px solid black;
  border: 2px solid black;
  border-radius: 0.25rem;
  color: var(--color-fire-red);
  cursor: pointer;

  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bold);

  transition: all 0.1s linear;
}

.Button:active,
.Button:hover {
  background-color: rgba(240, 52, 52, 0.1);
  border-color: var(--color-fire-red);
}
